body {
    min-height: 100vh;
    background-color: #1e1e1e;
    color: #FFFFFF;
    font-family: "roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 0;
}

.header {
    display: flex;
    justify-content: start;
    align-self: start;
    align-items: center;
}

.hamb {
    border: none;
    background-color: #1e1e1e;
    margin-left: 2em;
}

#menu {
    height: 24px;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

h1 {
    font-size: 68px;
    font-weight: bolder;
    margin: 0.5em;
    margin-top: 0.1em;
    text-align: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_text {
    font-size: 1em;
    font-weight: lighter;
    display: flex;
    align-items: center;
    padding: 1.875em;
    width: 80%;
}

.hero_boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero_box {
    display: flex;
    border: solid 0.1875em #D9D9D9;
    border-radius: 20px;
    width: 80%;
    margin: 1.25em;
}

.hero_box:hover {
    border-color: #4e53dc;
}

.box_icon {
    display: flex;
    align-items: center;
    padding: 0.625em;
}

.box_main {
    display: flex;
    flex-direction: column;
    padding: 0.625em;
    justify-content: center;
}

.box_text {
    font-weight: lighter;
}

.hero_subtitle {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.hero_search {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.search_area {
    display: flex;
    flex-direction: column;
}

#sab {
    align-items: end;
}

label {
    font-size: 12px;
    margin: 8px 4px;
    font-weight: 300;
    opacity: 95%;
}

input {
    background-color: #191919;
    color: white;
    border: solid 2px #252525;
    border-radius: 15px;
    width: 80%;
    padding: 8px;
}

.submit {
    background-color: #4e53dc;
    color: white;
    border: solid 2px #252525;
    border-radius: 15px;
    padding: 0.625em 1em;
    margin: 10px 0;
    width: 80px;
}

.body {
    background-image: url("./images/weather_background.jpg");
    background-size: cover;
    background-position: center;
    opacity: 70%;
    background-color: #1e1e1e;
    min-height: 500px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pick_box {
    display: flex;
    justify-self: center;
    justify-content: space-around;
    align-items: center;
    background-color: #1e1e1e;
    opacity: 95%;
    width: 100%;
    height: 4em;
    margin: 2em;
    border-radius: 1.25em;
    font-weight: 300;
}

.compare_view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
}

.detail_view {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
}

.location {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.week_box {
    display: flex;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    opacity: 95%;
    width: 100%;
    height: 4em;
    border-radius: 1.25em;
    font-weight: 300;
    margin-bottom: 10px;
}

.week_body {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 20px;
}

.week_top {
    display: flex;
    justify-content: space-between;
}

.weekday {
    font-weight: bold;
    font-size: 12px;
}

.display_date {
    font-size: 12px;
    color: #4e53dc;
}

.week_middle {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.week_bottom {
    display: flex;
    justify-content: start;
    font-size: 10px;
    font-weight: lighter;
}


.data {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.spot {
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    opacity: 95%;
    width: 100%;
    height: 248px;
    border-radius: 1.25em;
    font-weight: 300;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
}

.city {
    font-size: 16px;
    font-weight: bold;
    color: #4e53dc;
}

.fullCity {
    font-size: 10px;
    font-weight: lighter;
}

#cityB {
    text-align: end;
}

#mapA, #mapB {
    height: 168px;
    width: 280px;
    margin-top: 10px;
    opacity: 100%;
}


.detail_box {
    display: flex;
    flex-direction: column;
    justify-self: center;
    justify-content: space-between;
    align-items: start;
    background-color: #1e1e1e;
    opacity: 95%;
    width: 100%;
    border-radius: 1.25em;
    font-weight: 300;
    margin-bottom: 10px;
}

.detail_boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.city_stats {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.city_title {
    color: #4e53dc;
    font-weight: bold;
    font-size: 16px;
}

.city_subtitle {
    font-size: 10px;
    font-weight: lighter;
}

.city_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 15px;
    height: 100%;
    font-size: 12px;
}

.compare_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e53dc;
    opacity: 90%;
    padding: 10px;
    width: 80%;
    border-radius: 1.25em;
    margin-top: 8px;
    font-size: 12px;
}

.compare_title {
    font-size: 16px;
    font-weight: bold;
}

.hourly {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
    align-self: end;
}

.hourly_title {
    font-weight: bold;
    font-size: 16px;
    align-self: end;
    color: #4e53dc;
}

.hourly_subtitle {
    font-size: 10px;
    font-weight: lighter;
    align-self: end;
}

.hourly_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    margin-bottom: 0px;
}

.hourly_item {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 10px;
    font-weight: lighter;
    margin-top: 6px;
}

.hourly_status {
    color: #4e53dc;
}

.map_area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.map_large {
    height: 168px;
    width: 20rem;
    margin-top: 10px;
    opacity: 100%;
}

@media screen and (min-width: 681px) {
    h1 {
        font-size: 94px;
    }

    .hero_boxes {
        flex-direction: row;
    }

    input {
        width: 95%;
    }


    .pick_box {
        width: 90%;
    }


    .compare_view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 2em;
    }

    .detail_view {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 2em;
    }

    .detail_box {
        margin-left: 10px;
        padding: 20px;
    }

    .detail_boxes {
        flex-direction: row;
    }

    .city_stats, .hourly {
        width: 50%;
    }

    .map_large {
        width: 38rem;
    }

    .data {
        margin: 0 20px;
        justify-content: space-between;
    }

    .spot {
        margin: 0 0;
    }
}

@media screen and (min-width: 929px) {
    .hero_content {
        flex-direction: row;
    }


    .pick_box {
        width: 80%;
    }
}